name: Build Image

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

permissions:
  packages: write

jobs:
  build:
    runs-on: ${{ matrix.runner || 'ubuntu-latest' }}
    strategy:
      fail-fast: false
      matrix:
        include:
          # asdf build-image is deprecated and not getting updated
          #- image: asdf
          #  tag_suffix: ''
          - image: mise
            tag_suffix: ''
          - image: node-playwright
            tag_suffix: '-node-24.11'
            args: '--build-arg NODE_VERSION=24.11.1'
          - image: reticulum-builder
            tag_suffix: '-ruby-3.4.7-amd64'
            args: '--build-arg RUBY_VERSION=3.4.7'
            runner: ubuntu-latest
          - image: reticulum-builder
            tag_suffix: '-ruby-3.4.7-arm64'
            args: '--build-arg RUBY_VERSION=3.4.7'
            runner: ubuntu-24.04-arm
          - image: ruby-postgres
            tag_suffix: '-ruby-3.4.7-postgres-16.1'
            args: '--build-arg RUBY_VERSION=3.4.7 --build-arg POSTGRES_VERSION=16.1'
          - image: telescopium-lint
            tag_suffix: ''

    steps:
      - uses: actions/checkout@v5
      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            image:
              - 'build-images/${{ matrix.image }}.Dockerfile'
              - 'build-images/${{ matrix.image }}/**'
              - '.github/workflows/build.yml'
      - run: >-
          docker build
          -t ghcr.io/code0-tech/build-images/${{ matrix.image }}:${{ github.run_number }}.${{ github.run_attempt }}${{ matrix.tag_suffix }}
          -f build-images/${{ matrix.image }}.Dockerfile
          ${{ matrix.args }}
          .
        if: steps.filter.outputs.image == 'true'
      - run: echo ${{ secrets.GITHUB_TOKEN }} | docker login -u $ --password-stdin ghcr.io
        name: Login to registry
        if: ${{ (github.event_name == 'push' && steps.filter.outputs.image == 'true') || github.event_name == 'workflow_dispatch' }}
      - run: docker push ghcr.io/code0-tech/build-images/${{ matrix.image }}:${{ github.run_number }}.${{ github.run_attempt }}${{ matrix.tag_suffix }}
        if: ${{ (github.event_name == 'push' && steps.filter.outputs.image == 'true') || github.event_name == 'workflow_dispatch' }}

  require-all-images:
    runs-on: ubuntu-latest
    needs:
      - build
    if: ${{ always() }}
    steps:
      - name: Fail if any image build failed
        if: ${{ needs.build.result != 'success' }}
        run: exit 1
